@import url(../vendor/normalize.css);

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess-title {
  margin: 0;
  text-align: center;
  padding: 30px 0px;
  font-size: 38px;
}

.guess__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
}

.guess__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 30px;
}

.guess__label {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__input {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 52px;
  padding: 8px 12px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #9FA1A5;
  background: #FDFDFD;
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__check-button {
  display: flex;
  width: 150px;
  height: 52px;
  margin: 0;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #726EFA;
  color: white;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
  cursor: pointer;
}

.guess__result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 470px;
  margin: 0 0 50px;
  gap: 30px;
}

.guess__result-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.guess__result-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__result-value {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__result-hint {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__result-count {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__min {
  display: flex;
  box-sizing: border-box;
  width: 120px;
  height: 52px;
  padding: 8px 12px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #9FA1A5;
  background: #FDFDFD;
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__max {
  display: flex;
  box-sizing: border-box;
  width: 120px;
  height: 52px;
  padding: 8px 12px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #9FA1A5;
  background: #FDFDFD;
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.guess__choose-button {
  display: flex;
  width: 120px;
  height: 52px;
  margin: 0;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #726EFA;
  color: white;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
  cursor: pointer;
}
